[submodule "vast_commands/vast-ai-api"]
	path = vast_commands/vast-ai-api
	url = https://github.com/andrew-healey/vast-ai-api
[submodule "vast_commands/vast-cli"]
	path = vast_commands/vast-cli
	url = https://github.com/vast-ai/vast-cli
[submodule "external/mutransformers"]
	path = external/mutransformers
	url = https://github.com/microsoft/mutransformers
[submodule "external/nanogpt-mup"]
	path = external/nanogpt-mup
	url = https://github.com/andrew-healey/nanogpt-mup
